<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynw.system.dao.AcUserLabelClassifyMapper">
    <resultMap id="commentResultMap" type="com.ynw.system.entity.AcUserLabelClassify">
        <id column="ac_label_ctgy_id" property="acLabelCtgyId"/>
        <result column="create_time" property="createTime"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <!--<result column="key" property="key"/>-->
    </resultMap>

    <select id="findAll" resultMap="commentResultMap">
        SELECT * FROM t_ac_label_ctgy ORDER BY `sort` ASC
    </select>
    <select id="findBySortMax" resultMap="commentResultMap">
        SELECT * FROM t_ac_label_ctgy ORDER BY `sort` DESC
    </select>
</mapper>