<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynw.system.dao.CityMapper">
    <resultMap id="commentResultMap" type="com.ynw.system.entity.City">
        <id column="bd_city_id" property="bdCityId"/>
        <result column="create_time" property="createTime"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="bd_province_id" property="bdProvinceId"/>
    </resultMap>

    <select id="conditionQueryCity" resultMap="commentResultMap">
        SELECT * FROM t_bd_city WHERE bd_province_id=#{bdProvinceId}
        ORDER BY sort ASC
    </select>
    <select id="findBySortMax" resultMap="commentResultMap">
        SELECT * FROM t_bd_city WHERE bd_province_id=#{bdProvinceId} ORDER BY sort DESC
    </select>
</mapper>