<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynw.system.dao.ExamPaperAnswerMapper">
    <resultMap id="commentResultMap" type="com.ynw.system.entity.ExamPaperAnswer">
        <id column="kb_exampaper_answer_id" property="kbExampaperAnswerId"/>
        <result column="create_time" property="createTime"/>
        <result column="kb_exampaper_id" property="kbExampaperId"/>
        <result column="content" property="content"/>
        <result column="min_score" property="minScore"/>
        <result column="max_score" property="maxScore"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <select id="conditionQueryExamPaperAnswer" resultMap="commentResultMap">
        SELECT * FROM t_kb_exampaper_answer WHERE kb_exampaper_id=#{kbExampaperId}
        ORDER BY sort ASC
    </select>
    <select id="findBySortMax" resultMap="commentResultMap">
        SELECT * FROM t_kb_exampaper_answer WHERE kb_exampaper_id=#{kbExampaperId} ORDER BY sort DESC LIMIT 0,1
    </select>
</mapper>